{
  "openapi": "3.0.1",
  "info": {
    "title": "Octopus Energy",
    "description": "This is Rocketmakers implementation of the Octopus Energy API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "admin@rocketmakers.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.octopus.energy/v1"
    }
  ],
  "tags": [
    {
      "name": "Energy Products",
      "description": ""
    },
    {
      "name": "Electricity meter-points",
      "description": "Retrieve a meter-point"
    },
    {
      "name": "Consumption",
      "description": "List consumptions"
    },
    {
      "name": "Industry",
      "description": "List grid supply points"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of energy products.",
        "description": "By default, results will be public energy products but if the authenticated organisations will also see products available to their organisation.",
        "parameters": [
          {
            "in": "query",
            "name": "is_variable",
            "description": "Show only variable products.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "is_green",
            "description": "Show only green products.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "is_prepay",
            "description": "Show only tracker products.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "is_business",
            "description": "Show only business products.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "available_at",
            "description": "Show products available for new agreements on the given datetime. Defaults to current datetime, effectively showing products that are currently available.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/Products"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Retrieve the details of a product (including all its tariffs) for a particular point in time.",
        "description": "Retrieve the details of a product (including all its tariffs) for a particular point in time.",
        "parameters": [
          {
            "in": "path",
            "name": "product_code",
            "description": "The code of the product to be retrieved, for example VAR-17-01-11",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tariffs_active_at",
            "description": "The point in time in which to show the active charges. Defaults to current datetime.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/ProductWithTariffsObject"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}/electricity-tariffs/{tariff_code}/standing-charges/": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of unit rates and standing charges.",
        "description": "Return a list of unit rates and standing charges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCode"
          },
          {
            "$ref": "#/components/parameters/TariffCode"
          },
          {
            "$ref": "#/components/parameters/PeriodFrom"
          },
          {
            "$ref": "#/components/parameters/PeriodTo"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/TariffCharges"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}/electricity-tariffs/{tariff_code}/standard-unit-rates/": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of unit rates and standing charges.",
        "description": "Return a list of unit rates and standing charges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCode"
          },
          {
            "$ref": "#/components/parameters/TariffCode"
          },
          {
            "$ref": "#/components/parameters/PeriodFrom"
          },
          {
            "$ref": "#/components/parameters/PeriodTo"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/TariffCharges"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}/electricity-tariffs/{tariff_code}/day-unit-rates/": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of unit rates and standing charges.",
        "description": "Return a list of unit rates and standing charges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCode"
          },
          {
            "$ref": "#/components/parameters/TariffCode"
          },
          {
            "$ref": "#/components/parameters/PeriodFrom"
          },
          {
            "$ref": "#/components/parameters/PeriodTo"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/TariffCharges"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}/electricity-tariffs/{tariff_code}/night-unit-rates/": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of unit rates and standing charges.",
        "description": "Return a list of unit rates and standing charges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCode"
          },
          {
            "$ref": "#/components/parameters/TariffCode"
          },
          {
            "$ref": "#/components/parameters/PeriodFrom"
          },
          {
            "$ref": "#/components/parameters/PeriodTo"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/TariffCharges"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}/gas-tariffs/{tariff_code}/standing-charges/": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of unit rates and standing charges.",
        "description": "Return a list of unit rates and standing charges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCode"
          },
          {
            "$ref": "#/components/parameters/TariffCode"
          },
          {
            "$ref": "#/components/parameters/PeriodFrom"
          },
          {
            "$ref": "#/components/parameters/PeriodTo"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/TariffCharges"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_code}/gas-tariffs/{tariff_code}/standard-unit-rates/": {
      "get": {
        "tags": [
          "Energy Products"
        ],
        "summary": "Return a list of unit rates and standing charges.",
        "description": "Return a list of unit rates and standing charges.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductCode"
          },
          {
            "$ref": "#/components/parameters/TariffCode"
          },
          {
            "$ref": "#/components/parameters/PeriodFrom"
          },
          {
            "$ref": "#/components/parameters/PeriodTo"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/TariffCharges"
                }
              }
            }
          }
        }
      }
    },
    "/electricity-meter-points/{mpan}/": {
      "get": {
        "tags": [
          "Electricity meter-points"
        ],
        "summary": "Retrieve the details of a meter-point.",
        "description": "This endpoint can be used to get the GSP of a given meter-point.",
        "parameters": [
          {
            "in": "path",
            "name": "mpan",
            "description": "The electricity meter-point’s MPAN.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "properties": {
                    "gsp": {
                      "type": "string",
                      "example": "_H"
                    },
                    "mpan": {
                      "type": "string",
                      "example": "2000024512368"
                    },
                    "profile_class": {
                      "type": "number",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/electricity-meter-points/{mpan}/meters/{serial_number}/consumption/": {
      "get": {
        "tags": [
          "Consumption"
        ],
        "summary": "Return a list of consumption values for half-hour periods for a given meter-point and meter.",
        "description": "Return a list of consumption values for half-hour periods for a given meter-point and meter.\nElectricity meters: kWh\nSMETS1 Secure gas meters: kWh\nSMETS2 gas meters: m^3",
        "parameters": [
          {
            "in": "path",
            "name": "mpan",
            "description": "The electricity meter-point’s MPAN.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "serial_number",
            "description": "The electricity meter-point’s serial number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "period_from",
            "description": "Show consumption from the given datetime (inclusive). This parameter can be provided on its own.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "period_to",
            "description": "Show consumption to the given datetime (exclusive). This parameter also requires providing the period_from parameter to create a range.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "Page size of returned results. Default is 100, maximum is 25,000 to give a full year of half-hourly consumption details.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Ordering of results returned. Default is that results are returned in reverse order from latest available figure. Valid values: * ‘period’, to give results ordered forward. * ‘-period’, (default), to give results ordered from most recent backwards.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "group_by",
            "description": "Aggregates consumption over a specified time period. A day is considered to start and end at midnight in the server’s timezone. The default is that consumption is returned in half-hour periods. Accepted values are: * ‘hour’ * ‘day’ * ‘week’ * ‘month’ * ‘quarter’",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/Consumption"
                }
              }
            }
          }
        }
      }
    },
    "/gas-meter-points/{mprn}/meters/{serial_number}/consumption/": {
      "get": {
        "tags": [
          "Consumption"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Return a list of consumption values for half-hour periods for a given meter-point and meter.",
        "description": "Return a list of consumption values for half-hour periods for a given meter-point and meter.\nElectricity meters: kWh\nSMETS1 Secure gas meters: kWh\nSMETS2 gas meters: m^3",
        "parameters": [
          {
            "in": "path",
            "name": "mprn",
            "description": "The gas meter-point’s M.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "serial_number",
            "description": "The electricity meter-point’s serial number.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "period_from",
            "description": "Show consumption from the given datetime (inclusive). This parameter can be provided on its own.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "period_to",
            "description": "Show consumption to the given datetime (exclusive). This parameter also requires providing the period_from parameter to create a range.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "description": "Page size of returned results. Default is 100, maximum is 25,000 to give a full year of half-hourly consumption details.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Ordering of results returned. Default is that results are returned in reverse order from latest available figure. Valid values: * ‘period’, to give results ordered forward. * ‘-period’, (default), to give results ordered from most recent backwards.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "group_by",
            "description": "Aggregates consumption over a specified time period. A day is considered to start and end at midnight in the server’s timezone. The default is that consumption is returned in half-hour periods. Accepted values are: * ‘hour’ * ‘day’ * ‘week’ * ‘month’ * ‘quarter’",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "$ref": "#/components/schemas/Consumption"
                }
              }
            }
          }
        }
      }
    },
    "/industry/grid-supply-points/": {
      "get": {
        "tags": [
          "Industry"
        ],
        "summary": "Return a list of GSP objects, optionally filtered by postcode:",
        "description": "Return a list of GSP objects, optionally filtered by postcode:",
        "parameters": [
          {
            "in": "query",
            "name": "postcode",
            "description": "A postcode to filter on.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8;": {
                "schema": {
                  "properties": {
                    "gsp": {
                      "type": "string",
                      "example": "_H"
                    },
                    "mpan": {
                      "type": "string",
                      "example": "2000024512368"
                    },
                    "profile_class": {
                      "type": "number",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "ProductCode": {
        "in": "path",
        "name": "product_code",
        "description": "The code of the product to be retrieved, for example VAR-17-01-11",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TariffCode": {
        "in": "path",
        "name": "tariff_code",
        "description": "The code of the tariff to be retrieved, for example E-1R-VAR-17-01-11-A.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PeriodFrom": {
        "in": "query",
        "name": "period_from",
        "description": "Show charges active from the given datetime (inclusive). This parameter can be provided on its own.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "PeriodTo": {
        "in": "query",
        "name": "period_to",
        "description": "Show charges active up to the given datetime (exclusive). You must also provide the period_from parameter in order to create a range.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "PageSize": {
        "in": "query",
        "name": "page_size",
        "description": "Page size of returned results. Default is 100, maximum is 1,500 to give up to a month of half-hourly prices.",
        "required": false,
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "IndustryObject": {
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string"
          }
        }
      },
      "Industry": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Results in Response"
          },
          "next": {
            "type": "string",
            "description": "Paginated URL for next records"
          },
          "previous": {
            "type": "string",
            "description": "Paginated URL for previous records"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndustryObject"
            }
          }
        },
        "required": [
          "results",
          "count",
          "previous",
          "next"
        ]
      },
      "Products": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Results in Response"
          },
          "next": {
            "type": "string",
            "description": "Paginated URL for next records"
          },
          "previous": {
            "type": "string",
            "description": "Paginated URL for previous records"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductObject"
            }
          }
        },
        "required": [
          "results",
          "count",
          "previous",
          "next"
        ]
      },
      "ProductObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Product Code",
            "example": "VAR-17-01-11"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of product",
            "example": "Flexible Octopus January 2017 v1"
          },
          "display_name": {
            "type": "string",
            "description": "Display name of product",
            "example": "Flexible Octopus"
          },
          "description": {
            "type": "string",
            "description": "Description of product",
            "example": "This great value 12 month fixed tariff guarantees…"
          },
          "is_variable": {
            "type": "boolean",
            "description": "Is the product Variable",
            "example": false
          },
          "is_green": {
            "type": "boolean",
            "description": "Is the product Green",
            "example": false
          },
          "is_tracker": {
            "type": "boolean",
            "description": "Is the product Tracker",
            "example": false
          },
          "is_prepay": {
            "type": "boolean",
            "description": "Is the product Prepay",
            "example": false
          },
          "is_business": {
            "type": "boolean",
            "description": "Is the product is for Businesses",
            "example": false
          },
          "is_restricted": {
            "type": "boolean",
            "description": "Is the product Restricted",
            "example": false
          },
          "term": {
            "type": "integer",
            "description": "Is the number of months that a product lasts for if it is fixed length",
            "example": 12
          },
          "brand": {
            "type": "string",
            "description": "Brand Name",
            "example": "OCTOPUS_ENERGY"
          },
          "available_from": {
            "type": "string",
            "description": "Product available from",
            "example": "2017-05-05T05:37:27Z"
          },
          "available_to": {
            "type": "string",
            "description": "Product available to",
            "example": null
          },
          "links": {
            "type": "array",
            "description": "",
            "items": {
              "$ref": "#/components/schemas/ProductLinks"
            }
          }
        },
        "required": [
          "code",
          "full_name",
          "display_name",
          "description",
          "is_variable",
          "is_green",
          "is_tracker",
          "is_prepay",
          "is_business",
          "is_restricted",
          "term",
          "brand",
          "available_from",
          "available_to",
          "links"
        ]
      },
      "ProductWithTariffsObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Product Code",
            "example": "VAR-17-01-11"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of product",
            "example": "Flexible Octopus January 2017 v1"
          },
          "display_name": {
            "type": "string",
            "description": "Display name of product",
            "example": "Flexible Octopus"
          },
          "description": {
            "type": "string",
            "description": "Description of product",
            "example": "This great value 12 month fixed tariff guarantees…"
          },
          "is_variable": {
            "type": "boolean",
            "description": "Is the product Variable",
            "example": false
          },
          "is_green": {
            "type": "boolean",
            "description": "Is the product Green",
            "example": false
          },
          "is_tracker": {
            "type": "boolean",
            "description": "Is the product Tracker",
            "example": false
          },
          "is_prepay": {
            "type": "boolean",
            "description": "Is the product Prepay",
            "example": false
          },
          "is_business": {
            "type": "boolean",
            "description": "Is the product is for Businesses",
            "example": false
          },
          "is_restricted": {
            "type": "boolean",
            "description": "Is the product Restricted",
            "example": false
          },
          "term": {
            "type": "integer",
            "description": "Is the number of months that a product lasts for if it is fixed length",
            "example": 12
          },
          "brand": {
            "type": "string",
            "description": "Brand Name",
            "example": "OCTOPUS_ENERGY"
          },
          "available_from": {
            "type": "string",
            "description": "Product available from",
            "example": "2017-05-05T05:37:27Z"
          },
          "available_to": {
            "type": "string",
            "description": "Product available to",
            "example": null
          },
          "tariffs_active_at": {
            "type": "string",
            "description": "Tariff available at",
            "example": ""
          },
          "sample_quotes": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotes"
          },
          "single_register_electricity_tariffs": {
            "type": "object",
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffs"
          },
          "dual_register_electricity_tariffs": {
            "type": "object",
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffs"
          },
          "single_register_gas_tariffs": {
            "type": "object",
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffs"
          },
          "sample_consumption": {
            "type": "object",
            "$ref": "#/components/schemas/SampleConsumption"
          },
          "links": {
            "type": "array",
            "description": "",
            "items": {
              "$ref": "#/components/schemas/ProductLinks"
            }
          }
        },
        "required": [
          "code",
          "full_name",
          "display_name",
          "description",
          "is_variable",
          "is_green",
          "is_tracker",
          "is_prepay",
          "is_business",
          "is_restricted",
          "term",
          "brand",
          "available_from",
          "available_to",
          "sample_consumption",
          "links"
        ]
      },
      "ProductLinks": {
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "Link to single product"
          },
          "method": {
            "type": "string",
            "description": "HTTP Method"
          },
          "rel": {
            "type": "string",
            "description": ""
          }
        },
        "required": [
          "href",
          "method",
          "rel"
        ]
      },
      "Consumption": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Results in Response"
          },
          "next": {
            "type": "string",
            "description": "Paginated URL for next records"
          },
          "previous": {
            "type": "string",
            "description": "Paginated URL for previous records"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConsumptionObject"
            }
          }
        },
        "required": [
          "results",
          "count",
          "previous",
          "next"
        ]
      },
      "ConsumptionObject": {
        "type": "object",
        "properties": {
          "consumption": {
            "type": "number"
          },
          "interval_start": {
            "type": "string"
          },
          "interval_end": {
            "type": "string"
          }
        }
      },
      "TariffChargesObject": {
        "type": "object",
        "properties": {
          "value_exc_vat": {
            "type": "number"
          },
          "value_inc_vat": {
            "type": "number"
          },
          "valid_from": {
            "type": "string"
          },
          "valid_to": {
            "type": "string"
          }
        }
      },
      "TariffCharges": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Results in Response"
          },
          "next": {
            "type": "string",
            "description": "Paginated URL for next records"
          },
          "previous": {
            "type": "string",
            "description": "Paginated URL for previous records"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TariffChargesObject"
            }
          }
        },
        "required": [
          "results",
          "count",
          "previous",
          "next"
        ]
      },
      "SingleRegisterElectricityTariffs": {
        "type": "object",
        "properties": {
          "_A": {
            "type": "object",
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_B": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_C": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_D": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_E": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_F": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_G": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_H": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_I": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_J": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_K": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_L": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_M": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_N": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_O": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_P": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_Q": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_R": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_S": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_T": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_U": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_V": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_W": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_X": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_Y": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          },
          "_Z": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsObject"
          }
        }
      },
      "SingleRegisterElectricityTariffsObject": {
        "type": "object",
        "properties": {
          "direct_debit_monthly": {
            "type": "object",
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsDirectDebitObject"
          },
          "direct_debit_quarterly": {
            "type": "object",
            "$ref": "#/components/schemas/SingleRegisterElectricityTariffsDirectDebitObject"
          }
        }
      },
      "SingleRegisterElectricityTariffsDirectDebitObject": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "standard_unit_rate_exc_vat": {
            "type": "number",
            "description": "The keys standard_unit_rate_* are listed in p/kWh (pence per kilowatt hour)."
          },
          "standard_unit_rate_inc_vat": {
            "type": "number",
            "description": "The keys standard_unit_rate_* are listed in p/kWh (pence per kilowatt hour)."
          },
          "standing_charge_exc_vat": {
            "type": "number",
            "description": "The keys standing_charge_* are listed in p/day (pence per day)."
          },
          "standing_charge_inc_vat": {
            "type": "number",
            "description": "The keys standing_charge_* are listed in p/day (pence per day)."
          },
          "online_discount_exc_vat": {
            "type": "number"
          },
          "online_discount_inc_vat": {
            "type": "number"
          },
          "dual_fuel_discount_exc_vat": {
            "type": "number"
          },
          "dual_fuel_discount_inc_vat": {
            "type": "number"
          },
          "exit_fees_exc_vat": {
            "type": "number"
          },
          "exit_fees_inc_vat": {
            "type": "number"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductLinks"
            }
          }
        }
      },
      "SampleQuotes": {
        "type": "object",
        "properties": {
          "_A": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_B": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_C": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_D": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_E": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_F": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_G": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_H": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_I": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_J": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_K": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_L": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_M": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_N": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_O": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_P": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_Q": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_R": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_S": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_T": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_U": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_V": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_W": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_X": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_Y": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          },
          "_Z": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesObject"
          }
        }
      },
      "SampleQuotesObject": {
        "type": "object",
        "properties": {
          "direct_debit_monthly": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotesRates"
          },
          "direct_debit_quarterly": {
            "type": "object",
            "required": false,
            "$ref": "#/components/schemas/SampleQuotesRates"
          }
        }
      },
      "SampleQuotesRates": {
        "type": "object",
        "properties": {
          "electricity_single_rate": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotesAnnualCosts"
          },
          "electricity_dual_rate": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotesAnnualCosts"
          },
          "dual_fuel_single_rate": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotesAnnualCosts"
          },
          "dual_fuel_dual_rate": {
            "type": "object",
            "$ref": "#/components/schemas/SampleQuotesAnnualCosts"
          }
        }
      },
      "SampleQuotesAnnualCosts": {
        "type": "object",
        "properties": {
          "annual_cost_inc_vat": {
            "type": "integer",
            "description": "The keys annual_cost_* are listed in p (pence)."
          },
          "annual_cost_exc_vat": {
            "type": "integer",
            "description": "The keys annual_cost_* are listed in p (pence)."
          }
        }
      },
      "SampleConsumption": {
        "type": "object",
        "properties": {
          "electricity_single_rate": {
            "type": "object",
            "properties": {
              "electricity_standard": {
                "type": "integer"
              }
            }
          },
          "electricity_dual_rate": {
            "type": "object",
            "properties": {
              "electricity_day": {
                "type": "integer"
              },
              "electricity_night": {
                "type": "integer"
              }
            }
          },
          "dual_fuel_single_rate": {
            "type": "object",
            "properties": {
              "electricity_standard": {
                "type": "integer"
              },
              "gas_standard": {
                "type": "integer"
              }
            }
          },
          "dual_fuel_dual_rate": {
            "type": "object",
            "properties": {
              "electricity_day": {
                "type": "integer"
              },
              "electricity_night": {
                "type": "integer"
              },
              "gas_standard": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "electricity_single_rate",
          "electricity_dual_rate",
          "dual_fuel_single_rate",
          "dual_fuel_dual_rate"
        ]
      }
    }
  }
}